<table summary="Guitar form fields">
    <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
    <th>Image URL</th>
    <td><%= f.text_field(:url) %></td>
    </tr>
    <tr>
    <th>Price</th>
    <td><%= f.text_field(:price) %></td>
    </tr>
    <tr>
    <th>Description</th>
    <td><%= f.text_field(:description) %></td>
    </tr>
</table>
