<h1>Welcome to My Guitar Store</h1>

<%= link_to('Go to Contact Us (us)', {:action => 'contact', :country => 'us'}) %><br />
<%= link_to('Go to Contact Us (uk)', {:action => 'contact', :country => 'uk'}) %><br />
<%= link_to('Go to Contact Us (no query parameter)', {:action => 'contact'}) %>
